/*
 * when the user visits this page, this style will apply, when they leave, it
 * will get unloaded, so don't worry so much about conflicting styles between
 * pages!
 */
h1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(
    147deg,
    rgba(249, 15, 216, 1) 0%,
    rgba(245, 67, 119, 1) 26%,
    rgba(252, 28, 28, 1) 50%,
    rgba(255, 195, 13, 1) 75%,
    rgba(114, 251, 89, 1) 100%
  );
  background-size: cover;
}
