.note {
  border-left: 2px solid var(--primary-color);
  padding-left: 1rem;
  font-size: 14px;
}
.note::before {
  content: "NOTE";
  display: block;
  letter-spacing: 0.1em;
  color: var(--primary-color);
  font-weight: bold;
}
.hljs {
  background: none;
}

.til {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--primary-color);
}

main.prose :is(h1, h2, h3, h4, h5, h6) {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 0.5rem;
}
main.prose :is(h1, h2, h3, h4, h5, h6) a {
  order: 2;
  text-decoration: none;
}
.icon-link::before {
  content: "🔗";
}
